:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}
/* ALL CSS DESIGN ELEMENTS */

/* color palette
#84523A
#D2B144
#a1b58d
#afafaf
#000000
*/

/* FONTS */
h1 {
font-family: "Papyrus";
}

h2 {
  font-family: "Papyrus";
  }

  h3 {
    font-family: "Papyrus";
    }

p {
  font-family: "Copperplate";
}

/* Nav bar box formatting */
.navbar {
  margin: 0;
  margin-top: 0;
  text-align: center;
  list-style: none;
  display: flex;
  background: rgba(161, 181, 141, .70);
  padding: 20px;
}

/* Nav bar text and font*/
.nav-item {
  font-style: bold;
font-family: "Copperplate";
  margin-right: auto;
  margin-left: auto;
}

/* Nav bar item color */
.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/* Nav bar hover color */
.nav-item a:hover {
  color: #84523A;
  text-decoration: underline;
}

.homepage {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow the main content to grow and push the footer down */
}

.hero {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(210, 177, 68, .85);
}

.calltoaction{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(175, 175, 175, .75);
}
#aboutme {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(175, 175, 175, .75);
}

#projects {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(175, 175, 175, .75);
}

#privacypolicy {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(175, 175, 175, .75);
}
/* mailchimp vvvvvv */
#contactme {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: double;
 background: rgba(175, 175, 175, .75);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Set your desired background color */
  background-image: url('../app/imgs/Tbackground.jpg'); /* Set the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #000000;
  padding: 10px;
  opacity: 50%;
 
}

